@tailwind base;
@tailwind components;
@tailwind utilities;


.eddyNav {
  @apply px-6 py-8 mx-auto max-w-[400px] md:max-w-[1150px];
}
.eddyContainer {
  @apply md:px-3 md:mx-auto md:max-w-[1120px];
}
.eddyContainerFull {
  @apply md:px-3 md:mx-auto md:max-w-[1200px];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
body{
  @apply scrollbar-hide;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Custom Scrollbar */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 20px;
  }

  .scrollbar-thin:hover::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
  }
}

